<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main page","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main page">
  <!-- wp:group {"tagName":"article","className":"page__article","layout":{"type":"flow"}} -->
  <article class="wp-block-group page__article">
    <!-- wp:post-featured-image {"aspectRatio":"21/9","className":"page__hero"} /-->
    <!-- wp:post-title {"level":1,"className":"page__title"} /-->
    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
  </article>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
