{
  "apiVersion": "gonext.io/v1",
  "name": "{{ .Name }}",
  "version": "0.1.0",
  "entry": "{{ .CrateUnderscored }}.wasm",
  "capabilities": [
    "hooks.subscribe"
  ],
  "hooks": {
    "actions": [
      "save_post"
    ],
    "filters": [
      "the_content"
    ]
  },
  "requires": {
    "host": ">=0.1.0"
  }
}
